langgraph
langchain_community
langchain_core
tavily-python
wikipedia
langchain-anthropic
langchain-openai
langchain-google-genai
langchain-groq
structlog
python-docx
reportlab
fastapi
uvicorn
jinja2

-e .